@import "default";
@import "variables";
@import "typo";
@import "btn";
@import "alerte";
@import "composant";
@import "grille";
@import "build";
@import url(reset.css);

/*---------------Variables---------------*/
$couleurPrincipale: #9B4E82; /*Utilisé dans le header + footer*/
$couleurSecondaire: #c5bcbc;


/*---------------Classes---------------*/
.delete-margin-left { margin-left: 0; }
.delete-margin-right { margin-right: 0; }
.clear { 
	float: none;
	clear: both; 
}
.bouton-valider {
	@extend .btn;
	@extend .btn-small;
	@extend .btn-fat;
}
.bouton-rechercher { 
	@extend .btn;
	@extend .btn-fat;
	background-color: green;
	&:hover {
		background-color: lighten(green, 15%);
	}
}

* { box-sizing: border-box; }
body {
	max-width: 1280px;
}
fieldset { border: none; }
legend { font-weight: bold; }
img { width: 100%; height: auto;}

/*---------------Header-------------*/
header {
	@extend .header;
	color: #ffffff;
	padding: 10px 0 0 0;
}
header img { width: auto;}
header form input.loupe {
	background:url(../../images/loupe.png) no-repeat 0 0;
	width: 26px;
	background-size: cover;
	background-color: #000000;
	padding: 0;
}
header form input {
	outline:0;
	border:0;
	margin:0;
	height:24px;
	vertical-align: top;
}
header form input[type=text] {
	width: 80%;
	padding:0 1%;
}
header h1 { display: none; }

header nav { margin-top: 10px; }
header nav > ul {
  padding: 0;
  margin: 0;
  background-color: #0095dd;
}
header nav ul li#responsive-tab {
  display: none;
}
header nav ul li {
  display: inline-block;
}
header nav ul li a, header nav ul li.active a {
  display: block;
  padding: 12px 20px 11px 20px;
  color: #ffffff;
}
header nav ul li.active a:hover,
header nav ul li a:hover {
  background-color: #848484;
  color: #fff;
  text-decoration: none;
}
@media screen and (max-width: 600px) {
  header nav ul, header nav ul li {
    width: 100%;
  }
  header nav ul li#responsive-tab {
    display: block;
  }
  header nav ul li#responsive-tab a {
    background: url('../../images/menu.png') no-repeat;
    background-position: 95% 50%;
  }
  header nav ul li#responsive-tab a:hover {
    background-color:  #848484;
  }
  header nav ul li {
    display: none;
  }
}
/* Pour être sur que le menu qui a été caché en mode mobile apparaisse de nouveau en ordinateur*/
@media screen and (min-width: 600px) {
  header nav ul li.collapsed {
    display: inline-block !important;
    *display: inline;
    zoom: 1;
  }
}
@media screen and (min-width: 1024px) {
	header nav { margin-top: 12%; }
	header#header-adherents nav { margin-top: 18%; }
	header nav ul li {
		margin-bottom: 0 !important;
	}
	header#header-adherents nav ul li {
		margin-top: 0 !important;
	}
	header#header-adherents nav ul li a {
		padding: 12px 10px 11px 10px;
	}
	header h1 { 
		display: initial;
		font-weight: normal;
		margin-top: 9% !important;
		font-size: 1.4rem;
		text-align: left;
	}
	header div:nth-child(2) {
		margin-bottom: 0;
	}
}

/*-------------------Page accueil staff-------------------*/
#page-accueil-staff a {
	display: block;
	padding: 10px 0;
	margin-top: 10px;
	background-color: $couleurSecondaire;
}
#page-accueil-staff img {
	width: 110px;
	display: block;
	margin: 0 auto;
}
#page-accueil-staff a {
	@extend .text-center;
	color: #000000;
	&:hover {
		color: #000000;
		text-decoration: none;
	}
}

/*-------------------Page liste documents staff/adherent - Page détaillée adhérents-------------------*/
.page-liste-documents div section {
	border: 1px solid #000000;
	margin-bottom: 10px;
}
.page-liste-documents>form, #page-fiche-detaillee-adherents>form {
	background-color: $couleurSecondaire;
	padding: 5px;
}
.page-liste-documents form input, #page-fiche-detaillee-adherents form input {
	margin: 0;
}
.page-liste-documents div section div div a img, #page-fiche-detaillee-adherents section div a img, #page-gestion-adherents-staff>div:nth-child(n+4) img {
	width: 64px;
}
@media screen and (min-width: 640px) {
	.page-liste-documents section div div form input, #page-fiche-detaillee-adherents form input.bouton-rechercher {
		width: 100%;
		margin: 0;
	}
}


/*------------------Gestion adherent staff------------------*/
#page-gestion-adherents-staff form, #page-gestion-adherents-staff div:nth-child(2) {
	background-color: $couleurSecondaire;
}
#page-gestion-adherents-staff form {
	padding: 10px;
}
#page-gestion-adherents-staff div img {
	width: 10.5%;
}
#page-gestion-adherents-staff div a p {
	margin-top: 4%;
}
#page-gestion-adherents-staff form input:last-child {
	@extend .btn;
	@extend .btn-small;
	@extend .btn-fat;
	margin: 0;
	min-width: 100px;
}
#page-gestion-adherents-staff>div:nth-child(n+4) {
	border: 1px solid #000000;
}
#page-gestion-adherents-staff>div:nth-child(n+4) p:nth-child(2) {
	margin-top: 10px;
}
#page-gestion-adherents-staff>div:nth-child(n+4) * {
	padding: 0 5px;
}
#page-gestion-adherents-staff>div:nth-child(n+4) div:first-child {
	@extend .text-center;
	font-weight: bold;
	font-size: 1.2rem;
	padding: 10px;
	background-color: $couleurSecondaire;
	border-bottom: 1px solid #000000;
}

/*-------------------Page gestion documents staff-------------------*/
#page-gestion-docs-staff div h2 {
	background-color: $couleurSecondaire;
	padding: 5px;
}

/*-------------------Page liste Ajout type staff / Page liste ajout genre staff-------------------*/
#page-listeAjout-type-staff>div, #page-listeAjout-genre-staff>div {
	border: 1px solid #000000;
}
#page-listeAjout-type-staff div h2, #page-listeAjout-genre-staff div h2 {
	background-color: $couleurSecondaire;
	padding: 10px;
	@extend .text-center;
	margin: 0 0 10px 0;
}
#page-listeAjout-type-staff div:first-child form, #page-listeAjout-genre-staff div:first-child form, #page-listeAjout-type-staff div h2, #page-listeAjout-genre-staff div h2 {
	border-bottom: 1px solid #000000;
}
#page-listeAjout-type-staff div ul li, #page-listeAjout-genre-staff div ul li {
	margin-left: 10%;
}

/*-------------------ADHERENTS-------------------*/
/*-------------------Index adhérents-------------------*/
#page-index-adherents article div, #page-index-adherents >div {
	background-color: $couleurSecondaire;
}
#page-index-adherents > div {
	padding: 5px;
}

/*-------------------Détaillée adhérents-------------------*/
#page-fiche-detaillee-adherents {
	
}

/*-------------------Visualiser emprunts adhérents-------------------*/
#page-visualiser-emprunts-adherents>div {
	border : 1px solid #000000;
}

/*-------------------Pour les clears-------------------*/
#page-listeAjout-type-staff>div:last-child, #page-index-adherents >div:last-child, #page-gestion-adherents-staff>div:last-child, #page-listeAjout-genre-staff > div:last-child, #page-visualiser-emprunts-adherents > div:last-child  {
	border: none;
	background-color: transparent;
}

/*-------------------Footer-------------------*/
footer {
	background-color: $couleurPrincipale;
	@extend .text-center;
	padding: 10px;
}
footer p {
	margin: 0;
}