/*------------------------Des alertes------------------------*/
.alerte {
	padding: 3% 1%;
	margin: 0;
	text-align: center;
	box-sizing: border-box;
	width: 100%;
}
.alerte-succes {
	@extend .alerte;
	background-color: $background-color-alerte-succes;
	border: 1px solid $border-color-alerte-succes;
	color: $text-color-alerte-succes;
}
.alerte-info {
	@extend .alerte;
	background-color: $background-color-alerte-info;
	border: 1px solid $border-color-alerte-info;
	color: $text-color-alerte-info;
}
.alerte-avertissement {
	@extend .alerte;
	background-color: $background-color-alerte-avertissement;
	border: 1px solid $border-color-alerte-avertissement;
	color: $text-color-alerte-avertissement;
}
.alerte-danger {
	@extend .alerte;
	background-color: $background-color-alerte-danger;
	border: 1px solid $border-color-alerte-danger;
	color: $text-color-alerte-danger;
}