/*Exemple de grille avec 8 colonnes de 10,5% */
$nbColGrille: 8;

@for $i from 1 to $nbColGrille + 1 {
	.span#{$i}-#{$nbColGrille}-10_5 {
		@include grid-col($nbColGrille, 10.5%, 0+$i);
	}
}

@for $i from 0 to $nbColGrille {
	.offset#{$i}-#{$nbColGrille}-10_5 {
		@include grid-offset($nbColGrille, 10.5%, 0+$i);
	}
}

/*Exemple de grille avec 4 colonnes de 23% */
$nbColGrille: 4;

@for $i from 1 to $nbColGrille + 1 {
	.span#{$i}-#{$nbColGrille}-23 {
		@include grid-col($nbColGrille, 23%, 0+$i);
	}
}

@for $i from 0 to $nbColGrille {
	.offset#{$i}-#{$nbColGrille}-23  {
		@include grid-offset($nbColGrille, 23%, 0+$i);
	}
}

/*Exemple de grille avec 3 colonnes de 31,3% */
$nbColGrille: 3;

@for $i from 1 to $nbColGrille + 1 {
	.span#{$i}-#{$nbColGrille}-31_3 {
		@include grid-col($nbColGrille, 31.3333%, 0+$i);
	}
}

@for $i from 0 to $nbColGrille {
	.offset#{$i}-#{$nbColGrille}-31_3 {
		@include grid-offset($nbColGrille, 31.3333%, 0+$i);
	}
}

/*Exemple de grille avec 2 colonnes de 48% */
$nbColGrille: 2;

@for $i from 1 to $nbColGrille + 1 {
	.span#{$i}-#{$nbColGrille}-48 {
		@include grid-col($nbColGrille, 48%, 0+$i);
	}
}

@for $i from 0 to $nbColGrille {
	.offset#{$i}-#{$nbColGrille}-48 {
		@include grid-offset($nbColGrille, 48%, 0+$i);
	}
}

/*Exemple de grille avec 1 colonnes de 98% */
$nbColGrille: 1;

@for $i from 1 to $nbColGrille + 1 {
	.span#{$i}-#{$nbColGrille}-98 {
		@include grid-col($nbColGrille, 98%, 0+$i);
	}
}

@for $i from 0 to $nbColGrille {
	.offset#{$i}-#{$nbColGrille}-98 {
		@include grid-offset($nbColGrille, 98%, 0+$i);
	}
}


@media only screen and (min-width: 1024px) { /*ordi*/
	$nbColGrille: 1;

	@for $i from 1 to $nbColGrille + 1 {
		.span#{$i}-ordi-#{$nbColGrille}-98 {
			@include grid-col($nbColGrille, 98%, 0+$i);
		}
	}

	@for $i from 0 to $nbColGrille {
		.offset#{$i}-ordi-#{$nbColGrille}-98 {
			@include grid-offset($nbColGrille, 98%, 0+$i);
		}
	}
	
	$nbColGrille: 2;

	@for $i from 1 to $nbColGrille + 1 {
		.span#{$i}-ordi-#{$nbColGrille}-48 {
			@include grid-col($nbColGrille, 48%, 0+$i);
		}
	}

	@for $i from 0 to $nbColGrille {
		.offset#{$i}-ordi-#{$nbColGrille}-48 {
			@include grid-offset($nbColGrille, 48%, 0+$i);
		}
	}
	
	$nbColGrille: 3;

	@for $i from 1 to $nbColGrille + 1 {
		.span#{$i}-ordi-#{$nbColGrille}-31_3 {
			@include grid-col($nbColGrille, 31.3333%, 0+$i);
		}
	}

	@for $i from 0 to $nbColGrille {
		.offset#{$i}-ordi-#{$nbColGrille}-31_3 {
			@include grid-offset($nbColGrille, 31.3333%, 0+$i);
		}
	}
	
	$nbColGrille: 4;

	@for $i from 1 to $nbColGrille + 1 {
		.span#{$i}-ordi-#{$nbColGrille}-23 {
			@include grid-col($nbColGrille, 23%, 0+$i);
		}
	}

	@for $i from 0 to $nbColGrille {
		.offset#{$i}-ordi-#{$nbColGrille}-23 {
			@include grid-offset($nbColGrille, 23%, 0+$i);
		}
	}
	
	$nbColGrille: 5;

	@for $i from 1 to $nbColGrille + 1 {
		.span#{$i}-ordi-#{$nbColGrille}-18 {
			@include grid-col($nbColGrille, 18%, 0+$i);
		}
	}

	@for $i from 0 to $nbColGrille {
		.offset#{$i}-ordi-#{$nbColGrille}-18 {
			@include grid-offset($nbColGrille, 18%, 0+$i);
		}
	}
}


@media only screen and (min-width: 640px) { /*tablette*/	
	$nbColGrille: 5;

	@for $i from 1 to $nbColGrille + 1 {
		.span#{$i}-tablette-#{$nbColGrille}-18 {
			@include grid-col($nbColGrille, 18%, 0+$i);
		}
	}

	@for $i from 0 to $nbColGrille {
		.offset#{$i}-tablette-#{$nbColGrille}-18 {
			@include grid-offset($nbColGrille, 18%, 0+$i);
		}
	}	
	
	$nbColGrille: 4;

	@for $i from 1 to $nbColGrille + 1 {
		.span#{$i}-tablette-#{$nbColGrille}-23 {
			@include grid-col($nbColGrille, 23%, 0+$i);
		}
	}

	@for $i from 0 to $nbColGrille {
		.offset#{$i}-tablette-#{$nbColGrille}-23 {
			@include grid-offset($nbColGrille, 23%, 0+$i);
		}
	}
	
	$nbColGrille: 3;

	@for $i from 1 to $nbColGrille + 1 {
		.span#{$i}-tablette-#{$nbColGrille}-31_3 {
			@include grid-col($nbColGrille, 31.3333%, 0+$i);
		}
	}

	@for $i from 0 to $nbColGrille {
		.offset#{$i}-tablette-#{$nbColGrille}-31_3 {
			@include grid-offset($nbColGrille, 31.3333%, 0+$i);
		}
	}
	
	$nbColGrille: 2;

	@for $i from 1 to $nbColGrille + 1 {
		.span#{$i}-tablette-#{$nbColGrille}-48 {
			@include grid-col($nbColGrille, 48%, 0+$i);
		}
	}

	@for $i from 0 to $nbColGrille {
		.offset#{$i}-tablette-#{$nbColGrille}-48 {
			@include grid-offset($nbColGrille, 48%, 0+$i);
		}
	}	
	
	$nbColGrille: 1;

	@for $i from 1 to $nbColGrille + 1 {
		.span#{$i}-tablette-#{$nbColGrille}-98 {
			@include grid-col($nbColGrille, 98%, 0+$i);
		}
	}

	@for $i from 0 to $nbColGrille {
		.offset#{$i}-tablette-#{$nbColGrille}-98 {
			@include grid-offset($nbColGrille, 98%, 0+$i);
		}
	}	
	
	
}