/*------------------------Header------------------------*/
/*Pour les titres et les sous-titres*/
.header {
	text-align: center;
	background-color: $background-color-header;
}

/*------------------------Jumbotron------------------------*/
.jumbotron {
	background-color: $background-color-jumbotron;
	padding: 3% 1%;
	width: 90%;
	margin: 30px 5%;
	border-radius: 6px;
	text-align: center;
}
.jumbotron h1 {
	margin-top: 20px;
	margin-bottom: 10px;
	font-weight: normal;
}
.jumbotron p {
  margin-bottom: 15px;
  font-size: $font-size-jumbotron-p;
  font-weight: 200;
}
.jumbotron .btn{
	padding: 14px 24px;
	font-size: $font-size-jumbotron-btn;
}

/*------------------------Barre de navigation------------------------*/
.navbar { /*S'applique au ul*/ 
	padding: 0;
	width: $width-ul-navbar;
	background-color: #4c4e5a;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	margin: 0 auto;
} 
.navbar li {
	display: inline-block;
	vertical-align: top;
	list-style-type: none;
	width: 100% / $nb-li-navbar;
	box-sizing: border-box;

	& a {
		padding: 20px 10px;
		text-align: center;
		text-decoration: none;
		color: $text-color-a-navbar;
		transition: 1s color;
		display: block;
		border-left: 1px solid #393942;
	 
		font-family: Helvetica, Arial, sans-serif;
		font-weight: bold;
		font-size: 13px;

		text-shadow: 1px 1px 1px rgba(0,0,0,.6);
		&:hover {
			color: $text-color-a-hover-navbar;
		}
	}
}
.navbar li ul li {
	display: none;
}
.navbar li:first-child a { border-left: none; }
.navbar li:last-child a{ border-right: none; }

@media screen and (max-width: 480px) {
	.navbar {
		width: 95%;
		& li {
			display: block;
			border-bottom: 1px solid #000000;
			width: 100%;
				& a {
					border: none;
			}	
		}
	}
	.navbar li:last-child {
		border: none;
	}
}

.disabled a { /*S'applique sur li*/
	color: $text-color-a-disabled-navbar;
	&:hover {
		color: $text-color-a-disabled-navbar;
	}
}
.active a {
	color: $text-color-a-active-navbar;
	&:hover {
		color: $text-color-a-hover-active-navbar;
	}
}

/*------------------------Fils d'arianne------------------------*/
.breadcrumb li {
	display: inline-block;
	vertical-align: top;
	&:last-child {
		font-weight: bold;
	}
	& a {
		color: $text-color-a-breadcrumb;
		&:hover {
			color: $text-color-hover-breadcrumb;
		}
	}
}

/*------------------------Pagination------------------------*/
.pagination{ margin:0 auto; padding:0; }
 
.pagination li {
    margin: 0; 
    padding: 0;
    font-size: 0.8rem;
    list-style: none;
	display: inline-block;
	vertical-align: middle;
} 
.pagination li:first-child, .pagination li:last-child {
    color: $text-color-li-first-last-child-pagination;
    font-weight: bold;
    padding: 3px 4px;
} 
.pagination li:first-child a, .pagination li:last-child a {
    font-weight: bold;
    border: solid 1px transparent;
}
.pagination .active a {
    color: $text-color-a-active-pagination;
    font-weight: bold;
	border: 1px solid transparent;
	&:hover {
		border: 1px solid transparent;
	}
}
.pagination a {
    border: solid 1px $border-color-a-pagination;
    color: $text-color-a-pagination;
    padding: 3px 6px;
	&:hover {
		border: solid 1px $border-color-a-hover-pagination;
		text-decoration: none;
	}
}