@charset "UTF-8";
/*----------Typo----------*/
/*----------Btn----------*/
/*----------Alerte----------*/
/*----------Header----------*/
/*----------Jumbotron----------*/
/*----------Navbar----------*/
/*----------Breadcrumb----------*/
/*----------Pagination----------*/
/*------------------------Body------------------------*/
@import url(reset.css);
body {
  color: #000000;
  font-size: 1.1rem;
  font-family: Calibri, sans-serif;
  margin: 0 auto; }

/*------------------------Titres------------------------*/
h1 {
  font-size: 1.8rem;
  color: #000000;
  font-weight: bold;
  font-family: "Roboto Condensed", sans-serif;
  margin: 20px 0; }

h2 {
  font-size: 1.7rem;
  color: #000000;
  font-weight: bold;
  font-family: "Roboto Condensed", sans-serif;
  margin: 18px 0; }

h3 {
  font-size: 1.6rem;
  color: #000000;
  font-weight: bold;
  font-family: "Roboto Condensed", sans-serif;
  margin: 16px 0; }

h4 {
  font-size: 1.5rem;
  color: #000000;
  font-weight: normal;
  font-family: "Roboto Condensed", sans-serif;
  margin: 14px 0; }

h5 {
  font-size: 1.4rem;
  color: #000000;
  font-weight: normal;
  font-family: "Roboto Condensed", sans-serif;
  margin: 12px 0; }

h6 {
  font-size: 1.3rem;
  color: #000000;
  font-weight: normal;
  font-family: "Roboto Condensed", sans-serif;
  margin: 10px 0; }

/*------------------------Sous-titres------------------------*/
small {
  font-size: 0.8em;
  color: grey;
  font-weight: normal; }

/*------------------------Paragraphe------------------------*/
p {
  margin-bottom: 10px; }

/*------------------------Balises de texte inline------------------------*/
mark {
  background-color: yellow;
  color: black; }

del {
  text-decoration: line-through; }

ins {
  text-decoration: underline; }

u {
  text-decoration: underline; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

abbr {
  text-decoration: underline; }

/*------------------------Quote et blockquote------------------------*/
q {
  display: inline; }

blockquote {
  display: block;
  margin: 1em 2%; }

code {
  font-family: monospace; }

pre {
  display: block;
  font-family: monospace;
  white-space: pre;
  margin: 1em 0px; }

kbd {
  font-family: monospace; }

/*------------------------Listes------------------------*/
ul > li {
  list-style-type: disc; }

ul.ul-square > li {
  list-style-type: square; }

ul.ul-list-style-type-none > li {
  list-style-type: none;
  padding: 0; }

/*------------------------Liens------------------------*/
a {
  color: #0095dd;
  text-decoration: none;
  transition: 1s color; }
  a:hover {
    color: #023466;
    text-decoration: underline; }

/*------------------------Alignements et transformations------------------------*/
.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center, #page-accueil-staff a, #page-gestion-adherents-staff > div:nth-child(n+4) div:first-child, #page-listeAjout-type-staff div h2, #page-listeAjout-genre-staff div h2, footer {
  text-align: center; }

.text-justify {
  text-align: justify; }

.text-uppercase {
  text-transform: uppercase; }

.text-lowercase {
  text-transform: lowercase; }

/*------------------------Bouton------------------------*/
.btn, .bouton-valider, .bouton-rechercher, #page-gestion-adherents-staff form input:last-child {
  font-size: 1.2rem;
  width: 40%;
  padding: 2%;
  text-align: center;
  background-color: #000000;
  color: #ffffff;
  border: none;
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  border-radius: 28px;
  cursor: pointer;
  transition: 1s background-color; }

.btn:hover, .bouton-valider:hover, .bouton-rechercher:hover, #page-gestion-adherents-staff form input:hover:last-child {
  background-color: #333333; }

/*La taille des boutons*/
.btn-small, .bouton-valider, #page-gestion-adherents-staff form input:last-child {
  width: 20%;
  margin: 20px 40%;
  padding: 1%;
  font-size: 1.1rem; }

.btn-large {
  width: 100%;
  margin: 20px 0%;
  font-size: 1.3rem;
  padding: 3%; }

/*La couleur des boutons*/
.btn-blue {
  background-color: #139bff; }

.btn-blue:hover {
  background-color: rgba(19, 155, 255, 0.8); }

.btn-purple {
  background-color: #c298ff; }

.btn-purple:hover {
  background-color: #8d98ff; }

.btn-red {
  background-color: #f6412f; }

.btn-red:hover {
  background-color: rgba(246, 65, 47, 0.8); }

/*Apparence des boutons*/
.btn-fat, .bouton-valider, .bouton-rechercher, #page-gestion-adherents-staff form input:last-child {
  -webkit-border-radius: initial;
  -moz-border-radius: initial;
  border-radius: initial; }

.btn-extra-large {
  width: 100%;
  margin: 20px 0; }

.btn-fancy {
  width: 40%;
  margin: 20px 30%;
  -webkit-border-radius: 10px;
  -webkit-box-shadow: 0px 3px gray, 0px 4px #767676, 0px 5px #6c6c6c, 0px 6px #626262, 0px 7px #585858, 0px 8px #4e4e4e, 0px 14px 6px -1px gray;
  /* shadow */
  -webkit-transition: -webkit-box-shadow .1s ease-in-out;
  background-color: #E8E8E8;
  color: #3A474D;
  transition: 1s color;
  text-transform: uppercase;
  font-family: 'Calibri';
  font-size: 1.4rem;
  text-shadow: 0px 1px #fff, 0px -1px #262F33; }

.btn-fancy:hover {
  background-color: #E8E8E8;
  text-shadow: 0px -1px #97A63A;
  color: #0095dd; }

/*------------------------Des alertes------------------------*/
.alerte, .alerte-succes, .alerte-info, .alerte-avertissement, .alerte-danger {
  padding: 3% 1%;
  margin: 0;
  text-align: center;
  box-sizing: border-box;
  width: 100%; }

.alerte-succes {
  background-color: #e6efc2;
  border: 1px solid #c6d880;
  color: #000000; }

.alerte-info {
  background-color: #d5edf8;
  border: 1px solid #d5edf8;
  color: #215793; }

.alerte-avertissement {
  background-color: #fff6bf;
  border: 1px solid #ffd324;
  color: #000000; }

.alerte-danger {
  background-color: #fbe3e4;
  border: 1px solid #fbc2c4;
  color: #8b1f11; }

/*------------------------Header------------------------*/
/*Pour les titres et les sous-titres*/
.header, header {
  text-align: center;
  background-color: #9B4E82; }

/*------------------------Jumbotron------------------------*/
.jumbotron {
  background-color: #eeeeee;
  padding: 3% 1%;
  width: 90%;
  margin: 30px 5%;
  border-radius: 6px;
  text-align: center; }

.jumbotron h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: normal; }

.jumbotron p {
  margin-bottom: 15px;
  font-size: 1.1rem;
  font-weight: 200; }

.jumbotron .btn, .jumbotron .bouton-valider, .jumbotron .bouton-rechercher, .jumbotron #page-gestion-adherents-staff form input:last-child, #page-gestion-adherents-staff form .jumbotron input:last-child {
  padding: 14px 24px;
  font-size: 1.1rem; }

/*------------------------Barre de navigation------------------------*/
.navbar {
  /*S'applique au ul*/
  padding: 0;
  width: 72%;
  background-color: #4c4e5a;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 0 auto; }

.navbar li {
  display: inline-block;
  vertical-align: top;
  list-style-type: none;
  width: 16.66667%;
  box-sizing: border-box; }
  .navbar li a {
    padding: 20px 10px;
    text-align: center;
    text-decoration: none;
    color: #f3f3f3;
    transition: 1s color;
    display: block;
    border-left: 1px solid #393942;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 13px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6); }
    .navbar li a:hover {
      color: #0095dd; }

.navbar li ul li {
  display: none; }

.navbar li:first-child a {
  border-left: none; }

.navbar li:last-child a {
  border-right: none; }

@media screen and (max-width: 480px) {
  .navbar {
    width: 95%; }
    .navbar li {
      display: block;
      border-bottom: 1px solid #000000;
      width: 100%; }
      .navbar li a {
        border: none; }

  .navbar li:last-child {
    border: none; } }
.disabled a {
  /*S'applique sur li*/
  color: #000000; }
  .disabled a:hover {
    color: #000000; }

.active a {
  color: #ff8c00; }
  .active a:hover {
    color: #ffd700; }

/*------------------------Fils d'arianne------------------------*/
.breadcrumb li {
  display: inline-block;
  vertical-align: top; }
  .breadcrumb li:last-child {
    font-weight: bold; }
  .breadcrumb li a {
    color: #0095dd; }
    .breadcrumb li a:hover {
      color: #023466; }

/*------------------------Pagination------------------------*/
.pagination {
  margin: 0 auto;
  padding: 0; }

.pagination li {
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
  list-style: none;
  display: inline-block;
  vertical-align: middle; }

.pagination li:first-child, .pagination li:last-child {
  color: #666666;
  font-weight: bold;
  padding: 3px 4px; }

.pagination li:first-child a, .pagination li:last-child a {
  font-weight: bold;
  border: solid 1px transparent; }

.pagination .active a {
  color: #ff0084;
  font-weight: bold;
  border: 1px solid transparent; }
  .pagination .active a:hover {
    border: 1px solid transparent; }

.pagination a {
  border: solid 1px #dddddd;
  color: #0063e3;
  padding: 3px 6px; }
  .pagination a:hover {
    border: solid 1px #666666;
    text-decoration: none; }

/*Exemple de grille avec 8 colonnes de 10,5% */
.span1-8-10_5 {
  width: 10.5%;
  margin: 10px 1%;
  box-sizing: border-box;
  float: left; }

.span2-8-10_5 {
  width: 23%;
  margin: 10px 1%;
  box-sizing: border-box;
  float: left; }

.span3-8-10_5 {
  width: 35.5%;
  margin: 10px 1%;
  box-sizing: border-box;
  float: left; }

.span4-8-10_5 {
  width: 48%;
  margin: 10px 1%;
  box-sizing: border-box;
  float: left; }

.span5-8-10_5 {
  width: 60.5%;
  margin: 10px 1%;
  box-sizing: border-box;
  float: left; }

.span6-8-10_5 {
  width: 73%;
  margin: 10px 1%;
  box-sizing: border-box;
  float: left; }

.span7-8-10_5 {
  width: 85.5%;
  margin: 10px 1%;
  box-sizing: border-box;
  float: left; }

.span8-8-10_5 {
  width: 98%;
  margin: 10px 1%;
  box-sizing: border-box;
  float: left; }

.offset0-8-10_5 {
  margin-left: 1%; }

.offset1-8-10_5 {
  margin-left: 13.5%; }

.offset2-8-10_5 {
  margin-left: 26%; }

.offset3-8-10_5 {
  margin-left: 38.5%; }

.offset4-8-10_5 {
  margin-left: 51%; }

.offset5-8-10_5 {
  margin-left: 63.5%; }

.offset6-8-10_5 {
  margin-left: 76%; }

.offset7-8-10_5 {
  margin-left: 88.5%; }

/*Exemple de grille avec 4 colonnes de 23% */
.span1-4-23 {
  width: 23%;
  margin: 10px 1%;
  box-sizing: border-box;
  float: left; }

.span2-4-23 {
  width: 48%;
  margin: 10px 1%;
  box-sizing: border-box;
  float: left; }

.span3-4-23 {
  width: 73%;
  margin: 10px 1%;
  box-sizing: border-box;
  float: left; }

.span4-4-23 {
  width: 98%;
  margin: 10px 1%;
  box-sizing: border-box;
  float: left; }

.offset0-4-23 {
  margin-left: 1%; }

.offset1-4-23 {
  margin-left: 26%; }

.offset2-4-23 {
  margin-left: 51%; }

.offset3-4-23 {
  margin-left: 76%; }

/*Exemple de grille avec 3 colonnes de 31,3% */
.span1-3-31_3 {
  width: 31.3333%;
  margin: 10px 1.00002%;
  box-sizing: border-box;
  float: left; }

.span2-3-31_3 {
  width: 64.66663%;
  margin: 10px 1.00002%;
  box-sizing: border-box;
  float: left; }

.span3-3-31_3 {
  width: 97.99997%;
  margin: 10px 1.00002%;
  box-sizing: border-box;
  float: left; }

.offset0-3-31_3 {
  margin-left: 1.00002%; }

.offset1-3-31_3 {
  margin-left: 34.33335%; }

.offset2-3-31_3 {
  margin-left: 67.66668%; }

/*Exemple de grille avec 2 colonnes de 48% */
.span1-2-48 {
  width: 48%;
  margin: 10px 1%;
  box-sizing: border-box;
  float: left; }

.span2-2-48 {
  width: 98%;
  margin: 10px 1%;
  box-sizing: border-box;
  float: left; }

.offset0-2-48 {
  margin-left: 1%; }

.offset1-2-48 {
  margin-left: 51%; }

/*Exemple de grille avec 1 colonnes de 98% */
.span1-1-98 {
  width: 98%;
  margin: 10px 1%;
  box-sizing: border-box;
  float: left; }

.offset0-1-98 {
  margin-left: 1%; }

@media only screen and (min-width: 1024px) {
  /*ordi*/
  .span1-ordi-1-98 {
    width: 98%;
    margin: 10px 1%;
    box-sizing: border-box;
    float: left; }

  .offset0-ordi-1-98 {
    margin-left: 1%; }

  .span1-ordi-2-48 {
    width: 48%;
    margin: 10px 1%;
    box-sizing: border-box;
    float: left; }

  .span2-ordi-2-48 {
    width: 98%;
    margin: 10px 1%;
    box-sizing: border-box;
    float: left; }

  .offset0-ordi-2-48 {
    margin-left: 1%; }

  .offset1-ordi-2-48 {
    margin-left: 51%; }

  .span1-ordi-3-31_3 {
    width: 31.3333%;
    margin: 10px 1.00002%;
    box-sizing: border-box;
    float: left; }

  .span2-ordi-3-31_3 {
    width: 64.66663%;
    margin: 10px 1.00002%;
    box-sizing: border-box;
    float: left; }

  .span3-ordi-3-31_3 {
    width: 97.99997%;
    margin: 10px 1.00002%;
    box-sizing: border-box;
    float: left; }

  .offset0-ordi-3-31_3 {
    margin-left: 1.00002%; }

  .offset1-ordi-3-31_3 {
    margin-left: 34.33335%; }

  .offset2-ordi-3-31_3 {
    margin-left: 67.66668%; }

  .span1-ordi-4-23 {
    width: 23%;
    margin: 10px 1%;
    box-sizing: border-box;
    float: left; }

  .span2-ordi-4-23 {
    width: 48%;
    margin: 10px 1%;
    box-sizing: border-box;
    float: left; }

  .span3-ordi-4-23 {
    width: 73%;
    margin: 10px 1%;
    box-sizing: border-box;
    float: left; }

  .span4-ordi-4-23 {
    width: 98%;
    margin: 10px 1%;
    box-sizing: border-box;
    float: left; }

  .offset0-ordi-4-23 {
    margin-left: 1%; }

  .offset1-ordi-4-23 {
    margin-left: 26%; }

  .offset2-ordi-4-23 {
    margin-left: 51%; }

  .offset3-ordi-4-23 {
    margin-left: 76%; }

  .span1-ordi-5-18 {
    width: 18%;
    margin: 10px 1%;
    box-sizing: border-box;
    float: left; }

  .span2-ordi-5-18 {
    width: 38%;
    margin: 10px 1%;
    box-sizing: border-box;
    float: left; }

  .span3-ordi-5-18 {
    width: 58%;
    margin: 10px 1%;
    box-sizing: border-box;
    float: left; }

  .span4-ordi-5-18 {
    width: 78%;
    margin: 10px 1%;
    box-sizing: border-box;
    float: left; }

  .span5-ordi-5-18 {
    width: 98%;
    margin: 10px 1%;
    box-sizing: border-box;
    float: left; }

  .offset0-ordi-5-18 {
    margin-left: 1%; }

  .offset1-ordi-5-18 {
    margin-left: 21%; }

  .offset2-ordi-5-18 {
    margin-left: 41%; }

  .offset3-ordi-5-18 {
    margin-left: 61%; }

  .offset4-ordi-5-18 {
    margin-left: 81%; } }
@media only screen and (min-width: 640px) {
  /*tablette*/
  .span1-tablette-5-18 {
    width: 18%;
    margin: 10px 1%;
    box-sizing: border-box;
    float: left; }

  .span2-tablette-5-18 {
    width: 38%;
    margin: 10px 1%;
    box-sizing: border-box;
    float: left; }

  .span3-tablette-5-18 {
    width: 58%;
    margin: 10px 1%;
    box-sizing: border-box;
    float: left; }

  .span4-tablette-5-18 {
    width: 78%;
    margin: 10px 1%;
    box-sizing: border-box;
    float: left; }

  .span5-tablette-5-18 {
    width: 98%;
    margin: 10px 1%;
    box-sizing: border-box;
    float: left; }

  .offset0-tablette-5-18 {
    margin-left: 1%; }

  .offset1-tablette-5-18 {
    margin-left: 21%; }

  .offset2-tablette-5-18 {
    margin-left: 41%; }

  .offset3-tablette-5-18 {
    margin-left: 61%; }

  .offset4-tablette-5-18 {
    margin-left: 81%; }

  .span1-tablette-4-23 {
    width: 23%;
    margin: 10px 1%;
    box-sizing: border-box;
    float: left; }

  .span2-tablette-4-23 {
    width: 48%;
    margin: 10px 1%;
    box-sizing: border-box;
    float: left; }

  .span3-tablette-4-23 {
    width: 73%;
    margin: 10px 1%;
    box-sizing: border-box;
    float: left; }

  .span4-tablette-4-23 {
    width: 98%;
    margin: 10px 1%;
    box-sizing: border-box;
    float: left; }

  .offset0-tablette-4-23 {
    margin-left: 1%; }

  .offset1-tablette-4-23 {
    margin-left: 26%; }

  .offset2-tablette-4-23 {
    margin-left: 51%; }

  .offset3-tablette-4-23 {
    margin-left: 76%; }

  .span1-tablette-3-31_3 {
    width: 31.3333%;
    margin: 10px 1.00002%;
    box-sizing: border-box;
    float: left; }

  .span2-tablette-3-31_3 {
    width: 64.66663%;
    margin: 10px 1.00002%;
    box-sizing: border-box;
    float: left; }

  .span3-tablette-3-31_3 {
    width: 97.99997%;
    margin: 10px 1.00002%;
    box-sizing: border-box;
    float: left; }

  .offset0-tablette-3-31_3 {
    margin-left: 1.00002%; }

  .offset1-tablette-3-31_3 {
    margin-left: 34.33335%; }

  .offset2-tablette-3-31_3 {
    margin-left: 67.66668%; }

  .span1-tablette-2-48 {
    width: 48%;
    margin: 10px 1%;
    box-sizing: border-box;
    float: left; }

  .span2-tablette-2-48 {
    width: 98%;
    margin: 10px 1%;
    box-sizing: border-box;
    float: left; }

  .offset0-tablette-2-48 {
    margin-left: 1%; }

  .offset1-tablette-2-48 {
    margin-left: 51%; }

  .span1-tablette-1-98 {
    width: 98%;
    margin: 10px 1%;
    box-sizing: border-box;
    float: left; }

  .offset0-tablette-1-98 {
    margin-left: 1%; } }
/*---------------Variables---------------*/
/*Utilis├® dans le header + footer*/
/*---------------Classes---------------*/
.delete-margin-left {
  margin-left: 0; }

.delete-margin-right {
  margin-right: 0; }

.clear {
  float: none;
  clear: both; }

.bouton-rechercher {
  background-color: green; }
  .bouton-rechercher:hover {
    background-color: #00cd00; }

* {
  box-sizing: border-box; }

body {
  max-width: 1280px; }

fieldset {
  border: none; }

legend {
  font-weight: bold; }

img {
  width: 100%;
  height: auto; }

/*---------------Header-------------*/
header {
  color: #ffffff;
  padding: 10px 0 0 0; }

header img {
  width: auto; }

header form input.loupe {
  background: url(../../images/loupe.png) no-repeat 0 0;
  width: 26px;
  background-size: cover;
  background-color: #000000;
  padding: 0; }

header form input {
  outline: 0;
  border: 0;
  margin: 0;
  height: 24px;
  vertical-align: top; }

header form input[type=text] {
  width: 80%;
  padding: 0 1%; }

header h1 {
  display: none; }

header nav {
  margin-top: 10px; }

header nav > ul {
  padding: 0;
  margin: 0;
  background-color: #0095dd; }

header nav ul li#responsive-tab {
  display: none; }

header nav ul li {
  display: inline-block; }

header nav ul li a, header nav ul li.active a {
  display: block;
  padding: 12px 20px 11px 20px;
  color: #ffffff; }

header nav ul li.active a:hover,
header nav ul li a:hover {
  background-color: #848484;
  color: #fff;
  text-decoration: none; }

@media screen and (max-width: 600px) {
  header nav ul, header nav ul li {
    width: 100%; }

  header nav ul li#responsive-tab {
    display: block; }

  header nav ul li#responsive-tab a {
    background: url("../../images/menu.png") no-repeat;
    background-position: 95% 50%; }

  header nav ul li#responsive-tab a:hover {
    background-color: #848484; }

  header nav ul li {
    display: none; } }
/* Pour ├¬tre sur que le menu qui a ├®t├® cach├® en mode mobile apparaisse de nouveau en ordinateur*/
@media screen and (min-width: 600px) {
  header nav ul li.collapsed {
    display: inline-block !important;
    *display: inline;
    zoom: 1; } }
@media screen and (min-width: 1024px) {
  header nav {
    margin-top: 12%; }

  header#header-adherents nav {
    margin-top: 18%; }

  header nav ul li {
    margin-bottom: 0 !important; }

  header#header-adherents nav ul li {
    margin-top: 0 !important; }

  header#header-adherents nav ul li a {
    padding: 12px 10px 11px 10px; }

  header h1 {
    display: initial;
    font-weight: normal;
    margin-top: 9% !important;
    font-size: 1.4rem;
    text-align: left; }

  header div:nth-child(2) {
    margin-bottom: 0; } }
/*-------------------Page accueil staff-------------------*/
#page-accueil-staff a {
  display: block;
  padding: 10px 0;
  margin-top: 10px;
  background-color: #c5bcbc; }

#page-accueil-staff img {
  width: 110px;
  display: block;
  margin: 0 auto; }

#page-accueil-staff a {
  color: #000000; }
  #page-accueil-staff a:hover {
    color: #000000;
    text-decoration: none; }

/*-------------------Page liste documents staff/adherent - Page d├®taill├®e adh├®rents-------------------*/
.page-liste-documents div section {
  border: 1px solid #000000;
  margin-bottom: 10px; }

.page-liste-documents > form, #page-fiche-detaillee-adherents > form {
  background-color: #c5bcbc;
  padding: 5px; }

.page-liste-documents form input, #page-fiche-detaillee-adherents form input {
  margin: 0; }

.page-liste-documents div section div div a img, #page-fiche-detaillee-adherents section div a img, #page-gestion-adherents-staff > div:nth-child(n+4) img {
  width: 64px; }

@media screen and (min-width: 640px) {
  .page-liste-documents section div div form input, #page-fiche-detaillee-adherents form input.bouton-rechercher {
    width: 100%;
    margin: 0; } }
/*------------------Gestion adherent staff------------------*/
#page-gestion-adherents-staff form, #page-gestion-adherents-staff div:nth-child(2) {
  background-color: #c5bcbc; }

#page-gestion-adherents-staff form {
  padding: 10px; }

#page-gestion-adherents-staff div img {
  width: 10.5%; }

#page-gestion-adherents-staff div a p {
  margin-top: 4%; }

#page-gestion-adherents-staff form input:last-child {
  margin: 0;
  min-width: 100px; }

#page-gestion-adherents-staff > div:nth-child(n+4) {
  border: 1px solid #000000; }

#page-gestion-adherents-staff > div:nth-child(n+4) p:nth-child(2) {
  margin-top: 10px; }

#page-gestion-adherents-staff > div:nth-child(n+4) * {
  padding: 0 5px; }

#page-gestion-adherents-staff > div:nth-child(n+4) div:first-child {
  font-weight: bold;
  font-size: 1.2rem;
  padding: 10px;
  background-color: #c5bcbc;
  border-bottom: 1px solid #000000; }

/*-------------------Page gestion documents staff-------------------*/
#page-gestion-docs-staff div h2 {
  background-color: #c5bcbc;
  padding: 5px; }

/*-------------------Page liste Ajout type staff / Page liste ajout genre staff-------------------*/
#page-listeAjout-type-staff > div, #page-listeAjout-genre-staff > div {
  border: 1px solid #000000; }

#page-listeAjout-type-staff div h2, #page-listeAjout-genre-staff div h2 {
  background-color: #c5bcbc;
  padding: 10px;
  margin: 0 0 10px 0; }

#page-listeAjout-type-staff div:first-child form, #page-listeAjout-genre-staff div:first-child form, #page-listeAjout-type-staff div h2, #page-listeAjout-genre-staff div h2 {
  border-bottom: 1px solid #000000; }

#page-listeAjout-type-staff div ul li, #page-listeAjout-genre-staff div ul li {
  margin-left: 10%; }

/*-------------------ADHERENTS-------------------*/
/*-------------------Index adh├®rents-------------------*/
#page-index-adherents article div, #page-index-adherents > div {
  background-color: #c5bcbc; }

#page-index-adherents > div {
  padding: 5px; }

/*-------------------D├®taill├®e adh├®rents-------------------*/
/*-------------------Visualiser emprunts adh├®rents-------------------*/
#page-visualiser-emprunts-adherents > div {
  border: 1px solid #000000; }

/*-------------------Pour les clears-------------------*/
#page-listeAjout-type-staff > div:last-child, #page-index-adherents > div:last-child, #page-gestion-adherents-staff > div:last-child, #page-listeAjout-genre-staff > div:last-child, #page-visualiser-emprunts-adherents > div:last-child {
  border: none;
  background-color: transparent; }

/*-------------------Footer-------------------*/
footer {
  background-color: #9B4E82;
  padding: 10px; }

footer p {
  margin: 0; }

/*# sourceMappingURL=alebrije_librairie.css.map */
